<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repins.infinite.db.mysql.instance.ExecutionMapper">

    <sql id="baseColumns">
        `id`,
        `element_key`,
        `execution_id`,
        `process_instance_id`,
        `deployment_version_id`,
        `state`
    </sql>
    <insert id="insertBatchExecution" parameterType="java.util.List">
        insert into inf_ru_execution (<include refid="baseColumns"></include>)
            values
            <foreach collection="executions" item="item" index="index" separator="," >
                (#{item.id},#{item.elementKey},#{item.executionId},#{item.processInstanceId},#{item.deploymentVersionId},#{item.state})
            </foreach>
    </insert>

</mapper>